{% extends 'blog/base.html' %}

{% block content %}
    <h1>블로그 게시판 화면</h1>
    <p>블로그 게시판 첫 화면입니다.</p>
    <a href="{% url 'blog:write' %}" class="btn btn btn-success">글 작성</a>
    {% comment %} 변수값 이용하려면 중괄호 2개 {% endcomment %}
    {% if posts %}
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>Title</th>
                <th>Writer</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td><a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.title }}</a></td>
                    <td>{{ post.writer }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>작성된 게시물이 없습니다.</p>
    {% endif %}

{% endblock %}