<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <a href="/">
            <span role="img" aria-label="Home">🏠</span>
        </a> |
        <a href="/about">😊</a> |
        <a href="{% url 'posts:list' %}">📑</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>